button {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE 51%, #003973 100%);
    font-family: 'Electrolize', sans-serif;
    font-weight: bolder;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin: 20px;
}

button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 3px #eee;
    top: 1px;
}

button:active {
    box-shadow: 0 0 #eee;
    top: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
}